# Needed to work with ZetaSQL dependency.
# Zetasql is removed.
# This is a candidate for removal
build --cxxopt="-std=c++17"
# Needed to build absl
build --host_cxxopt=-std=c++17

# Needed to avoid zetasql proto error.
# Zetasql is removed.
# This is a candidate for removal
build --protocopt=--experimental_allow_proto3_optional

# icu@: In create_linking_context: in call to create_linking_context(),
# parameter 'user_link_flags' is deprecated and will be removed soon.
# It may be temporarily re-enabled by setting --incompatible_require_linker_input_cc_api=false
build --incompatible_require_linker_input_cc_api=false
build:macos --apple_platform_type=macos
build:macos_arm64 --cpu=darwin_arm64
