.DS_Store
.ipynb_checkpoints
node_modules
/.bazelrc
/.tf_configure.bazelrc
/bazel-*
/bazel_pip
/tools/python_bin_path.sh
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
.vscode/
cmake_build/
.idea/**
/build/
[Bb]uild/
Pods
Podfile.lock
*.pbxproj
*.xcworkspacedata
xcuserdata/**
dist/
tensorflow_data_validation.egg-info/
tensorflow_data_validation/anomalies/_pywrap_tensorflow_data_validation.so
tensorflow_data_validation/anomalies/pywrap_tensorflow_data_validation.py

# Android
.gradle
.idea
.project
*.iml
local.properties
gradleBuild
