name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build data-validation
      id: build-data-validation
      uses: ./.github/reusable-build
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install built wheel
      shell: bash
      run: |
        pip install --find-links ./dist tensorflow-data-validation[test]

    - name: Run Test
      run: |
        rm -rf bazel-*
        # run tests
        pytest -vv
